#message-index-container {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  justify-content: flex-start;
  align-items: center;
  background-color: #f4f4f9;
  width: 100%;
  min-height: 100vh;
}

#message-index-container #message-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: fit-content;
  background: #001121;
}
#message-index-container #message-nav button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  color: #efefef;
  margin: 0.5em;
  margin-right: 1em;
  padding: 0.5em 2em;
  border-radius: 1em;
  text-align: center;
  background: transparent;
  cursor: pointer;
  outline: none;
  border: 1px solid #001121;
}
#message-index-container #message-nav button:hover,
#message-index-container #message-nav button:active {
  background: #001e36;
}
#message-index-container #message-nav button svg {
  fill: #efefef;
}

#message-index-container #msg-send-success-box {
  display: flex;
  background: #008216;
  width: 100%;
  align-items: center;
  justify-content: center;
}
#message-index-container #msg-send-success-box #msg-send-success-box-success-msg {
  margin-right: auto;
  margin-left: 6em;
  color: #ffffff;
}
#message-index-container #msg-send-success-box #msg-send-success-box-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1em;
  border: 1px solid #008216;
  border-radius: 5em;
  padding: 0.5em;
  background: transparent;
  cursor: pointer;
  transition: background 0.2s ease;
}
#message-index-container #msg-send-success-box #msg-send-success-box-close-btn:hover,
#message-index-container #msg-send-success-box #msg-send-success-box-close-btn:active {
  background: #005e10;

}
#message-index-container #msg-send-success-box #msg-send-success-box-close-btn svg {
  fill: #ffffff;
}

.messages-list {
  margin-top: 1em;
  width: 90%;
  margin-left: 5em;
  background-color: #fff;
  border-radius: 0.5em;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.1);
}

.message-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
  transition: background 0.2s ease;
  color: #000000;
}

.message-row:hover {
  background: #f0f0f0;
}

.sender,
.receiver {
  width: 20%;
  font-weight: bold;
}

.title {
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#time-container,
#time-container-seen {
  width: 20%;
  text-align: right;
  color: #616161;
}

#sender,
#receiver {
  margin: 0;
  font-size: 1.2em;
}
#sender-seen,
#receiver-seen {
  margin: 0;
  font-size: 1em;
  color: #616161;
  font-weight: 400;
}

#title {
  margin: 0;
  font-size: 1.5em;
}
#title-seen {
  margin: 0;
  font-size: 1.2em;
  color: #616161;
  font-weight: 400;
}

#time-container #date, 
#time-container #time {
  margin: 0;
  font-size: 0.8em;
  font-weight: 800;
}
#time-container-seen #date-seen, 
#time-container-seen #time-seen {
  margin: 0;
  font-size: 0.8em;
  font-weight: 400;
}

.no-messages {
  text-align: center;
  padding: 2em;
}

.no-messages h1 {
  font-size: 1.5em;
  color: #4a4a4a;
}
