/* Alapvető beállítások a keresési űrlaphoz */
.search-form {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 30%;
  min-height: 100vh;
  align-items: center;
  justify-content: flex-start;
  padding: 2em;
  background: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.search-form .text-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: 100%;
  margin-bottom: 1.5em;
}

.search-form .text-search-container .text-input-container {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  border-radius: 50px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.search-form .text-search-container .text-input-container svg {
  padding: 0.5em;
  background: #002fff;
  color: #ffffff;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.search-form .text-search-container .text-input-container input {
  width: 100%;
  outline: none;
  border: none;
  padding: 0.5em 1em;
  background: #ffffff;
  font-size: 1em;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.search-form .range-container {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.search-form .range-container .price-range-container,
.search-form .range-container .rating-range-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}

.search-form .range-container .range-values {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5em;
  font-size: 0.9em;
  color: #444444;
}

.search-form .range-container .range-input {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 0.8em;
  background: #d3d3d3;
  border-radius: 1em;
  outline: none;
  margin-bottom: 0.5em;
}

.search-form .range-container .range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  background: #002fff;
  cursor: pointer;
}

.search-form .order-by-container {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
}

.search-form .order-by-container label {
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 0.5em;
  color: #444444;
}

.search-form .order-by-container select {
  width: 100%;
  padding: 0.5em;
  font-size: 1em;
  border: 1px solid #cccccc;
  border-radius: 10px;
  background: #ffffff;
  appearance: none;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  outline: none;
}

.search-form .button-container {
  width: 100%;
}