@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import './PropertyForm.css';

.property-container {
  font-family: Nunito, Arial;
  margin: auto;
  width: 70%;
  min-height: 100vh;
}

.property-container h1 {
  text-align: center;
}
