body {
  padding-left: 5em;
}

.property-show-page {
  display: flex;
  flex-direction: column;
  width: 70%;
  min-height: 100vh;
  margin: 0 auto;
  background: #f8f8f8;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.property-show-page .button-container {
  display: flex;
  align-items: center;
  width: fit-content;
  color: #000000;
  text-decoration: none;
  border-radius: 0.2em;
}
.property-show-page .button-container p {
  text-decoration: none;
  color: #000000;
  display: flex;
  height: 1em;
  align-items: center;
  letter-spacing: 1px;
  cursor: pointer;
  border: none;
  padding-inline: 0.5em;
  margin-right: 1em;
}
.property-show-page .button-container svg {
  margin-left: 1em;
  font-size: 20px;
  transition: all 0.1s ease-in;
}
.property-show-page .button-container:hover > svg {
  transform: translateX(-5px);
 }
 
 .property-show-page .button-container:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
 }

.property-show-page #edit-button {
  padding: 0.5em 1.5em;
  background: #caf6c4;
  color: #000000;
  text-decoration: none;
  border: 1px solid #caf6c4;
  border-radius: 1em;
  transition: background 0.1s;
  width: fit-content;
  align-self: flex-end;
  margin-right: 1em;
}
.property-show-page #edit-button:hover {
  background: #21ae21;
  border: 1px solid #21ae21;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.img-container img {
  max-width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title-section {
  text-align: center;
  margin-bottom: 1em;
  padding-inline: 2em;
}

.title-section h1 {
  font-size: 2em;
  text-wrap: wrap;
}

.location-section {
  padding-inline: 3em;
}
.location-section p {
  font-weight: bold;
}

.description-section p {
  padding: 2em;
}
