.button {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #1b2aff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s ease;
  border: 1px solid #1520b5;
  box-shadow: 0px 0px 5px #00000072;
}

.button:hover {
  background-color: #060286;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
