
.link-button {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: #345edb;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.1s ease;
}

.link-button:hover {
  background-color: #1414bb;
}



.button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #45a049;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
